# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Alembic
*.db

# OS
.DS_Store
Thumbs.db